.search-container {
    position: relative;
    margin: 20px 0;
  }
  
  .search-input {
    width: 241px;
    height: 38px;
    padding: 6px 12px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-input:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
    outline: none;
  }
  
  .keyboard-shortcut {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    padding: 0 4px;
    height: 24px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 2px;
    display: flex;
    align-items: center;
    background: white;
  }